# Dataset folders
/archive/
/asl_filtered/
/asl_yolo/
/asl_yolo_small/
/images/
/labels/
/clean_dataset.zip

# Training outputs
/runs/

# System files
.DS_Store
__pycache__/
*.pt  # Exclude all .pt files (we'll manually include the important ones)