# dataset
dataset/
reduced_dataset/

# YOLO trainingsoutputs behalve best.pt
!runs/
!runs/detect/
!runs/detect/train27/
!runs/detect/train27/weights/
!runs/detect/train27/weights/best.pt

# modelbestanden behalve de gekozen
*.pt
!runs/detect/train27/weights/best.pt

# overig
*.jpg
*.txt
